.container {
  background: #271F3D;
  padding: 30px 20px;
  color: #fff;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 441px;
}

.title {
  font-weight: 700;
  font-size: 25px;
}

.wrapper {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 287px 286px 233px;
  grid-gap: 97px;
}
 
.article {
  font-weight: 400;

  .title {
    margin-top: 10px;
    font-size: 16px;
  }

  .text {
    margin: 8px 0;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
  
  }

  .date {
    color: rgba(255, 255, 255, 0.4);
  }
}

.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: auto;

  &:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }

}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
